/wipeout.sublime-project
/wipeout.sublime-workspace

/wipeout/
/build/

/wipegame
/save.dat
.DS_STORE
gamecontrollerdb.txt
.vscode/
build/
build/*.elf
*.o
*.cdi
src/.vscode/
src/*.o
src/wipeout/*.o
dcload-ip/
wipeout_kos/
kos/
0GDTEX.PVR
